USE [master]
GO
/****** Object:  Database [HopDongDB]    Script Date: 15/05/2024 1:02:26 CH ******/
CREATE DATABASE [HopDongDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HopDongDB_Data', FILENAME = N'D:\Intern\DB\HopDongDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [FileStreamGroup] CONTAINS FILESTREAM  DEFAULT
( NAME = N'HopDongDBFS', FILENAME = N'D:\Intern\DB\FileStreamGroupHopDongDB' , MAXSIZE = UNLIMITED)
 LOG ON 
( NAME = N'HopDongDB_LOG', FILENAME = N'D:\Intern\DB\HopDongDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HopDongDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HopDongDB]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 15/05/2024 1:02:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ContractId] [varchar](50) NOT NULL,
	[ContractName] [nvarchar](255) NULL,
	[ContractDate] [datetime] NULL,
	[ContractLocation] [nvarchar](255) NULL,
	[ContractType] [varchar](50) NULL,
	[ContractStart] [datetime] NULL,
	[ContractEnd] [datetime] NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractsDetail]    Script Date: 15/05/2024 1:02:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractsDetail](
	[ContractDetailId] [varchar](50) NOT NULL,
	[ContractId] [varchar](50) NULL,
	[ContractDetailContent] [nvarchar](255) NULL,
	[ContractDetailValue] [int] NULL,
	[ContractDetailStatus] [nvarchar](50) NULL,
	[ContractDetailResign] [int] NULL,
	[PartyA] [varchar](50) NULL,
	[PartyB] [varchar](50) NULL,
 CONSTRAINT [PK_ContractsDetail] PRIMARY KEY CLUSTERED 
(
	[ContractDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractType]    Script Date: 15/05/2024 1:02:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractType](
	[ContractTypeId] [varchar](50) NOT NULL,
	[ContractTypeName] [nvarchar](255) NULL,
	[ContractFile] [varbinary](max) NULL,
	[FileRow] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parties]    Script Date: 15/05/2024 1:02:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parties](
	[PartyId] [varchar](50) NOT NULL,
	[PartyName] [nvarchar](255) NULL,
	[PartyAddress] [nvarchar](255) NULL,
	[PartyContact] [nvarchar](255) NULL,
	[PartyAccount] [nvarchar](255) NULL,
	[PartyTax] [nvarchar](255) NULL,
	[PartyRepresentative] [nvarchar](255) NULL,
	[PartyPosition] [nvarchar](255) NULL,
 CONSTRAINT [PK_Party] PRIMARY KEY CLUSTERED 
(
	[PartyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Term]    Script Date: 15/05/2024 1:02:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Term](
	[TermId] [varchar](50) NOT NULL,
	[ContractId] [varchar](50) NULL,
	[TermHeader] [nvarchar](255) NULL,
	[TermContent] [nvarchar](255) NULL,
 CONSTRAINT [PK_Term] PRIMARY KEY CLUSTERED 
(
	[TermId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/05/2024 1:02:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [varchar](50) NOT NULL,
	[UserFullName] [nvarchar](255) NULL,
	[Username] [varchar](50) NULL,
	[UserPassword] [varchar](255) NULL,
	[UserRole] [nvarchar](50) NULL,
	[CreateAt] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_ContractType] FOREIGN KEY([ContractType])
REFERENCES [dbo].[ContractType] ([ContractTypeId])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_ContractType]
GO
ALTER TABLE [dbo].[ContractsDetail]  WITH CHECK ADD  CONSTRAINT [FK_ContractsDetail_Contract] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([ContractId])
GO
ALTER TABLE [dbo].[ContractsDetail] CHECK CONSTRAINT [FK_ContractsDetail_Contract]
GO
ALTER TABLE [dbo].[ContractsDetail]  WITH CHECK ADD  CONSTRAINT [FK_ContractsDetail_Parties] FOREIGN KEY([PartyA])
REFERENCES [dbo].[Parties] ([PartyId])
GO
ALTER TABLE [dbo].[ContractsDetail] CHECK CONSTRAINT [FK_ContractsDetail_Parties]
GO
ALTER TABLE [dbo].[ContractsDetail]  WITH CHECK ADD  CONSTRAINT [FK_ContractsDetail_Parties1] FOREIGN KEY([PartyB])
REFERENCES [dbo].[Parties] ([PartyId])
GO
ALTER TABLE [dbo].[ContractsDetail] CHECK CONSTRAINT [FK_ContractsDetail_Parties1]
GO
ALTER TABLE [dbo].[Term]  WITH CHECK ADD  CONSTRAINT [FK_Term_Contract] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([ContractId])
GO
ALTER TABLE [dbo].[Term] CHECK CONSTRAINT [FK_Term_Contract]
GO
USE [master]
GO
